<div class="login-container">
  <mat-toolbar color="primary">
    <span style="flex: 1;">🎬 TecnoVibeFilmes</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/login">
      <mat-icon>arrow_back</mat-icon> Voltar
    </button>
  </mat-toolbar>
<mat-card>
  <form [formGroup]="form" (ngSubmit)="cadastrar()">
    <h2>Cadastro</h2>
    <mat-form-field appearance="outline" class="full-width">

      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="senha" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmar Senha</mat-label>
      <input matInput type="password" formControlName="confirmarSenha" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Cadastrar
    </button>
  </form>
</mat-card>
</div>

