

<div class="produtos-container">

  <h1>Aqui o cinema é seu, Navegue pelos lançamentos.<br>Escolha, alugue e curta quando quiser.</h1>
  <mat-card *ngFor="let filme of filmes()" class="produto-card">
    <mat-card-header>
      <mat-card-title>{{ filme.title }}</mat-card-title>
    </mat-card-header>

    <img
    mat-card-image
    [src]="'https://image.tmdb.org/t/p/w300' + filme.poster_path"
    alt="{{ filme.title }}"  width="700" height="600"
    class="poster"
  />

  <mat-card-content>
    <p class="descricao">
      {{ isExpandido(filme.id) ? filme.overview : (filme.overview | slice:0:100) + '...' }}
    </p>
    <button mat-button (click)="toggleDescricao(filme.id)">
      {{ isExpandido(filme.id) ? 'Ver menos' : 'Ver mais' }}
    </button>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="adicionarAoCarrinho(filme)">
      <mat-icon>add_shopping_cart</mat-icon> Adicionar
    </button>
  </mat-card-actions>
</mat-card>
</div>
