<div class="login-container">
  <mat-toolbar color="primary">
    <span style="flex: 1;"><img src="assets/simbolologo.png" alt="simbologo" class="logo"><img src="assets/logo.png" alt="logo" class="logo"></span>
    <span class="spacer"></span>

    <button mat-button routerLink="/home" routerLinkActive="active-link" class="button"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAhZJREFUWEftmD1IHUEQx3+vsgmC4Ado4UdA02khCCpiZS3pIrETJJWkEwtFRCxstFUEG7HSWrATtAtEtFADUQNBTZXOxq8b2JN1fXt3u3snIm5zvLvZmd/9Z2dn75V4ZaP0ynh4k0BtwApwD4wAxyGqhyrUAuwBdQriCugGfvtChQCZMDFDEJQvkKRpB6hVFOfq2qiu/4A+n/T5AJnK/AV6FMgu0BCSPlcgG4yuUBCUC1AaTLyGJG3eUFmBssIEQ2UBcoUJgkoD8oXxhkoCCoXxgrIB5QXjDFUOyNz0xGkzcObbDtS8JuBU81F28zSBbO0gba1lZZUGrI9nbcYMdASIQuYoCkji7AMdcUAz0E+g/YWBfgCdNiDJ8xegIjrfTGlgRSg0DVxHGVkH/tiAdHH0fOtAouAH1R6S1k4v8B841IxsPh9Nkt7cnCx5lrf5pKqlFbixEFUDJ0CVAhoCDtSpMlEMF6BKVfoSRMYa8NWy3jaBQfXsEpDqlfTkqpD4/wxsaBBbwJJKn6w7OReNAv2azUB0f1v9zh1I/M4B4xk3nu/AQlFrSGeYAGYToG6Bb9HpcdmwKUShOEYXMKy+Mj4Cd8AvddZeNaornlMoUMasPTF7B0pTLUgh2T/iL9K0QK7PL6Ltor7cpKSN0aW8XYFmoiKYdAUSWCnvMaDGNaLFXj4qF4F5m7+8unhOvLzN/4dyU0ccPQD2M4glJWVEgQAAAABJRU5ErkJggg=="/>
      Home</button>

  </mat-toolbar>
  <mat-card class="login-card">
    <h2>Login</h2>
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" type="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login()">Entrar</button>


      <p class="cadastro-link">
        Não tem uma conta?
        <a (click)="irParaCadastro()" style="cursor: pointer;">Cadastre-se</a>
      </p>
    </form>
  </mat-card>
</div>
