
/* Fonte e reset */
body {
  margin: 0;
  background-color: #0f0f0f;
  font-family: Roboto, sans-serif;
}
.logo {
  inline-size: 150px;
  margin-block-end: 30px;
  margin-block-start: 30px;
  block-size: 110px;
  inline-size: 120px;
  

}


/* ===== Header fixo ===== */
mat-toolbar, .custom-toolbar {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  background-color: rgb(105, 104, 104) !important; /* cinza escuro */
  color: rgb(194, 34, 34) !important;
  z-index: 1000;
}

/* Espaço para o conteúdo abaixo do header */
.produtos-container,
.carrinho-container {
  padding-block-start: 10rem;
  padding-inline: 20px;
  background-color: #18206b;
  min-block-size: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/* Estilo dos cards */
.produto-card {
  inline-size: 280px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(212, 25, 25, 0.1);
  display: flex;
  flex-direction: column;
}

/* Imagem nos cards */
mat-card img,.poster {
  inline-size: 100%;
  block-size: auto;
  border-block-end: 1px solid #dddddd;
  

}

/* Texto da descrição */
.descricao {
  font-size: 20px;
  color: #333;
}

/* Espaço entre os elementos no header */
.spacer {
  flex: 1 1 auto;
}
/* Fundo bonito */
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  background: black;
}
.button {
  background-color: white;
  color: aliceblue; /* Ajuste a cor do texto para contraste */
  border: 1px solid rgb(247, 238, 238); /* Opcional: borda para destacar o botão */
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

/* Card centralizado */
.login-card {
  inline-size: 100%;
  max-inline-size: 400px;
  padding: 32px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

/* Título */
h2 {
  text-align: center;
  color: #333;
  margin-block-end: 24px;
}

/* Campos de formulário */
.full-width {
  inline-size: 100%;
  margin-block-end: 20px;
}

/* Link para cadastro */
.cadastro-link {
  margin-block-start: 20px;
  text-align: center;
  font-size: 14px;
}

.cadastro-link a {
  color: #3f51b5;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

.cadastro-link a:hover {
  text-decoration: underline;
}
