<div class="home-container">
  <mat-toolbar color="primary">
    <span style="flex: 1;"><img src="assets/simbolologo.png" alt="simbolologo" class="logo" ><img src="assets/logo.png" alt="Background" class="logo"></span>
    <span class="spacer"></span>
    <button mat-button routerLink="/login">
      <span class="material-icons">
        logout
        </span>Entrar</button>
  </mat-toolbar>
  <div class="overlay">
    <img src="assets/logo.png" alt="Background" width="500" height="400" />
    <h1>Compre seu filme favorito com apenas um clique!
      Escolha entre os maiores sucessos do cinema e leve a emoção para sua tela</h1>
    <h2>Promoção imperdivel por apenas R$ 14,90.</h2>

    <div class="email-box">
   <p>Você ainda não faz parte do melhor site de filmes clique aqui =></p>

      <button routerLink="/cadastro" routerLinkActive="active-link">Cadastre</button>
    </div>
  </div>

  <section class="trending">
    <h3>Em alta</h3>
    <div class="cards">
      <div class="card" *ngFor="let movie of trendingMovies">
        <img [src]="movie.image" [alt]="movie.title" />
        <p>{{ movie.title }}</p>
      </div>
    </div>
  </section>
</div>
